/**** Imports *** */
/* Variables */
/************** Brand Colors ************** */
.top-header-element img {
  width: 100%;
  height: 10%; }

.logo {
  float: left;
  margin: 5px; }

.social-media-icons {
  float: right;
  margin-top: 4rem; }
  .social-media-icons ul {
    list-style: none; }
    .social-media-icons ul li {
      display: inline-block;
      padding-left: 1rem; }

* {
  font-family: "Crimson Text", serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto; }
